:root{
    /* Colors */
    --accent: #942022;
    --textDark: #070808;
    --textLight: #ffffff;

    /* Fonts */ 
    --headingFont: 'Cookie', cursive;
    --paragraphFont : 'Roboto Condensed', sans-serif;
        /* Font sizes. */
    --font-size-sm: 0.875rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
    --font-size-3xl: 2rem;
    --font-size-4xl: 3rem;

    /* Line heights. */
    --line-height-sm: 1.25;
    --line-height-md: 1.5;

    /* Letter spacings. */
    --letter-spacing-sm: 0.05em;
    --letter-spacing-md: 0.1em;
}
body{
    margin: 0;
    font-family: var(--paragraphFont);
    font-size: var(--font-size-lg);
}
html {
  scroll-behavior: smooth;
}
.nav-list {
    background: var(--textLight);
    box-shadow: 0px 0px 10px grey;
    margin: 0;
    padding: 1rem 0;
    border-radius: 2px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.nav-item{
    list-style: none;
    margin-right: 2rem;
}
.nav-item a{
    text-decoration: none;
    color: var(--textDark);
}
.nav-item:first-child{
    margin-right: auto;
    margin-left: 2rem;
    font-family: var(--headingFont);
    font-size: 2rem;
}

.nav-item:nth-child(6){
    margin-left: auto;
}
#facebook:hover{
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    color: #1877F2;
    text-decoration: none;
}
#instagram:hover{
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    color:#BE3A8A;
    text-decoration: none;
}
#twitter:hover{
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    color:#00A2F3;
    text-decoration: none;
}
@keyframes scale-up-center {
    0% {
    transform: scale(1);
    
    }
    100% {
    transform: scale(2);
    
    }
}
.hero-image{
    background-image: linear-gradient(to right, rgba(1,1,1,1), rgba(255,0,0,0)),url("/images/hero-images/hero-image-landing.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.hero-text h1{
    font-family: var(--headingFont);
    font-size: 100px;
    color: white;
    margin-left: 90px;
    margin-top: 0;
    margin-bottom: 10px;
}
.hero-text p{
    font-family: var(--paragraphFont);
    color: white;
    margin-left: 90px;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
}
.primaryBtn{
    display:inline-block;
    padding:0.5em 3em;
    margin:0.5em 0.3em 0.3em 0;
    border: none;
    box-sizing: border-box;
    text-decoration:none;
    font-family: var(--paragraphFont);
    font-weight:200;
    font-size: 20px;
    background-color: var(--accent);
    color: var(--textLight);
    text-align:center;
    cursor: pointer;
}
#primaryBtn:hover{
    color: var(--textLight);
}

#reserve{
    margin-top: 40px;
}
#linktoBook:hover{
    color: var(--textLight);
}
.offer{
    /*border: 1px solid black;*/
    height: 90vh;
    margin: 30px 0px;
    padding: 0 2rem 2rem 2rem; 
   
}
.section-title{
  /*border: 1px solid black;*/
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: var(--headingFont);
  font-size: var(--font-size-4xl);
  font-weight: 300;
}
.section-text{
  /*border: 1px solid black;*/
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0px 60px 0px 60px;
  font-size: var(--font-size-lg);
}
hr{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-top: 4px solid #942022;
}


/*=========================================================*/
.myform{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}
#guests,#phone,#bookingtime{
  width: 300px;
  height: 50px;
}


footer{
	position: fixed;
	bottom: 0;
    font-family: var(--paragraphFont);
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed{
	background-color: #070808;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed h3 span{
	color:  #3D0001;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}


.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #942022;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
.footer-distributed .footer-icons a:hover{
    background-color: #942022;
}
/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

td, th,tr {
    border: 1px solid black;
    text-align: center;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;  
    padding-top: auto;  
  }
  
table {
   width: 100%;
    border-collapse: collapse;
    text-align: center;
    overflow: auto;
  } 

.container{
    text-align: center;
}

a{
    color: white;
}